table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85em;
}

th, td {
  padding: 6px 12px;
  text-align: center;
}

th:first-child, td:first-child {
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em auto;
}
